<h1 class="pageHeader">Add a Spot</h1>

<div class="formContainer">
<form action="/create-location" method="POST">

<div class="field">
  <label class="label">Username</label>
  <div class="control">
    <input class="inputBox" type="text" name="username"  value="">
    </div>
</div>

<div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input class="inputBox" type="text" name="title"  value="">
    </div>
</div>

<div class="field">
  <label class="label">Address</label>
  <div class="control">
    <input class="inputBox" type="text" name="address"  value="">
    </div>
</div>


<div class="field">
  <label class="label">Caption</label>
  <div class="control">
    <input class="inputBox" type="text" name="caption"  value="">
    </div>
</div>

<div class="field">
  <label class="label">Image</label>
  <div class="control">
    <input class="inputBox" type="text" name="image"  value="">
    </div>
</div>



    <button class="button is-link is-info" type="submit">Submit</button>
</form>

</div>







{{!-- <a href="/create-location">submit</a></li> --}}