<h1 class="pageHeader">Add Comment</h1>

<div class="formContainer">

<form action="/{{commentLocId}}/add-comment" method="POST">
    <input class="inputBox" type="text" name="username" placeholder="Username" value="">
    <input class="inputBox" type="text" name="comment" placeholder="Comment" value=""> <br><br>
    <button class="button is-link is-info" type="submit">Submit</button>
</form>
</div>

