<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PicSpot</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">

</head>

<body>

  <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/picspot-horz.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/all-locations" class="navbar-item">
          Home
        </a>

        <a href="/users" class="navbar-item">
          Profiles
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/new-user" class="button is-light"> Sign Up</a>
            <a href="/new-location" class="button is-info"><strong>Add Spot</strong></a>
          </div>
        </div>
      </div>
    </div>
  </nav>


  {{{body}}}

  <footer style="background-color:black; padding: 20px;" class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>PicSpot</strong> by <a href="https://www.linkedin.com/in/shalainderamus/">Shalain DeRamus</a>. Full
        Stack Web Application using Mongoose, Express, Handlebars, and Node
      </p>
    </div>
  </footer>


</body>

</html>