<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FeedPix</title>
</head>
<body>
<nav>
    <a href="/all-locations">Feedpix Logo</a>
     create user 
     view users 
     <a href="/new-location">Create</a>

</nav>
    {{{body}}}
</body>
</html>