<section class="hero is-fullheight" style="background-image: linear-gradient( rgba(212, 117, 16, 0.849),  rgba(13, 186, 255, 0.856)), url('https://images.unsplash.com/photo-1526128309437-e1ef042ac9ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80'); background-repeat:no-repeat; background-size:cover;>
{{!-- <section class="hero is-fullheight" style="background: url('https://images.unsplash.com/photo-1526128309437-e1ef042ac9ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80'); background-repeat:no-repeat; background-size:cover;> --}}



  <div class="hero-body">
  <div class="container">

    <div class= "outsideContainer">

   
    <div class="splashContainer">

      <img src="picspot-vert.png" alt="feedpix logo">

      <a href="/new-location" <button class="button is-link is-info" type="button"> Add Spot </button></a> <br>
      <a href="/all-locations" <button class="button is-link is-info" type="button"> Explore </button></a>
      <a href="/new-user" <button style="color: white;" class="button is-text" type="button"> Sign Up </button></a>
    </div>
 </div>

  </div>
  </div>
</section>