<h1>this is the splash page</h1>
<h2>I will include the logo</h2>
<a href="/new-location">Create</a>
<a href="/all-locations">Explore</a></li>
<h2>sign up</h2>
{{!-- <a href="/new-user">Sign up</a> --}}
