    {{!-- <video autoplay muted loop id="splashVideo">
            <source src="videos/heydj-intro.mp4" type="video/mp4">
    </video> --}}

    
<div>
    <img src="feedpix.png" alt="feedpix logo">
    <div>
        
        <a href="/new-location">Create</a>
        <a href="/all-locations">Explore</a>
        <a href="/new-user">Sign Up</a>

    </div>

    {{!-- <button class="outlineButton" onclick="location.href='pages/main.html'" type="button">Enter</button> --}}

</div>
