    {{!-- <video autoplay muted loop id="splashVideo">
            <source src="videos/heydj-intro.mp4" type="video/mp4">
    </video> --}}

    
<div class="splashContent">
    <img src="../../images/feedpix.png" alt="feedpix logo">
    <div class="appDownload">
        {{!-- <img src="images/download-apple.png" alt="download on apple button">
        <img src="images/download-google.png" alt="download on google button"> --}}
        <a href="/new-location">Create</a>
        <a href="/all-locations">Explore</a>
        <a href="/new-user">Sign Up</a>

    </div>

    <button class="outlineButton" onclick="location.href='pages/main.html'" type="button">Enter</button>

</div>
