<h1 class="pageHeader">Sign Up</h1>


<div class="formContainer">

<form action="/create-user" method="POST">

<div class="field">
  <label class="label">Username</label>
  <div class="control">
    <input class="inputBox" type="text" name="username"  value="">
    </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control">
    <input class="inputBox" type="text" name="Email"  value="">
    </div>
</div>

<div class="field">
  <label class="label">Image</label>
  <div class="control">
    <input class="inputBox" type="text" name="image"  value="">
    </div>
</div>
    <button class="button is-link is-info" type="submit">Submit</button>



</div>

</form>