<h1>this is the create user page</h1>
{{!-- <ul>
    <li>name</li>
    <li>address</li>
    <li>caption</li>
    <li>image</li>
</ul> --}}


<form action="/create-user" method="POST">
    <input type="text" name="username" placeholder="Username" value="">
    <input type="text" name="email" placeholder="Email" value="">
    <input type="text" name="image" placeholder="Image Link" value="">
    <button type="submit">Submit</button>
</form>