<h1 class="pageHeader">Sign Up</h1>


<div class="formContainer">

  <form action="/create-user" method="POST" enctype="multipart/form-data">
    <p class="help is-danger" style="text-align:right;">* Is required</p><br>


    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" type="text" name="username" value="">
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="text" name="email" value="">
      </div>
    </div>

    <label class="label">Image <span style="color:red;">*</span></label>
    <div class="file is-info has-name">

      <label class="file-label">
        <input id="file" class="file-input" type="file" name="image">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
        <span id="filename" class="file-name">
          yourfilename.jpg
        </span>

      </label>
    </div>
    <br>

    <button class="button is-link is-info" type="submit">Submit</button>
  </form>
</div>
<br style="line-height:250px;">

<script src="/imageUpload.js"></script>