<h1>this will show all the users</h1>

{{#each users}}
<img src={{image}} alt="" >
 
 {{_id}}

<form action="/user-profile/{{_id}}">
        <button type="submit">view profile</button>
</form>



{{/each}}
