<h1>this is one user profile </h1>


<h2> This is the profile image</h2>

<h3>This is the info</h3>

<img src={{userId.image}} alt="" >
<h2>{{userId.username}}</h2>
<h2>{{userId.email}}</h2>


<form action="/user-profile/{{userId._id}}?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
</form>